.skills-container
{
    margin: 100px 0;
    position: relative;
}
.skills-container h5
{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 5rem;
    position: relative;
}
.skills-container h5::after
{
    content:'';
    width:70px;
    height: 3px;
    background-color: var(--skin-color);
    position: absolute;
    bottom: 0;
    left: 3px;
}
.skills-content
{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}
.skills
{
    flex: 1;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2,1fr);
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
}
.skills-info
{
    flex: 1;
    width: 100%;
}
@media (max-width:1199px) 
{
    .skills-content
    {
        flex-direction: column;
        margin-right: 20px;
    }

}
