.Services-container {
    width: 100%;
    height: fit-content;
}

.Services-content {
    width: 100%;
    padding: 20px;
    height: auto;
}

.Services-main-heading h2 {
    font-size: 2em;
    color: var(--text-black-900);
    position: relative;
    font-weight: 700;
    padding-bottom: 12px;
}

.Services-main-heading h2::before {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: var(--skin-color);
}

.Services-main-heading h2::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--skin-color);
    margin-top: 8px;
}

.services-grid-container {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35vw,1fr));
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 40px;
    padding: 40px;

}

.services-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: cards 2s ease forwards;
}

.services-card:hover {
    transform: translateY(-3px);
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 15px 30px rgba(0, 0, 0, 0.15);
}
.services-card h5
{
    font-size: 1.2em;
    color: var(--text-black-900);
    font-weight: 700;
    text-align: center;

}
.services-card p
{
    font-size: 0.9em;
    color: var(--text-black-700);
    font-weight: 600;
    justify-content: center;
    line-height: 22px;
}
.services-card img
{
    width: 90px;
}
.services-card p span
{
    color: var(--text-black-900);
    font-weight: 700;
    cursor: pointer;
}
.active-modal
{
    overflow-y:hidden;
}

@keyframes cards 
{
    
    0%{
        opacity: 0;
        transform: translateY(-400px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}